html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Quicksand, sans-serif;
  background-color: $bg-color;
}

.container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @include tablet() {
    max-width: 99.2rem;
  }

  @include mobile() {
    max-width: 76.7rem;
  }
}
// Header
.header {
  position: fixed;
  z-index: 99999;
  width: 100%;
  background-color: white;
  padding: 1.2rem 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 25px 20px -20px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__brand {
      font-family: Satisfy, sans-serif;
      font-size: 2.8rem;
      font-weight: 500;
      text-decoration: none;
      color: $color-main;
      transition: all 0.3s;
      &:hover {
        color: $color-main-hover;
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      &__item-nav .nav-link {
        font-size: 1.8rem;
        font-weight: 600;
        padding: 1.6rem;
        text-decoration: none;
        color: $color-main;
        transition: all 0.3s;
        &:hover {
          color: $color-main-hover;
        }
        &.active {
          color: $color-main-hover;
        }
      }
    }
  }
}

main {
  padding-top: 6.4rem;
  position: relative;
}
